{% extends 'base.html' %}

{% block content %}
<h2>Manage Meetings</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.meeting_date.label }} {{ form.meeting_date(class="form-control", type="date") }}
    </div>
    <div class="form-group">
        {{ form.meeting_time.label }} {{ form.meeting_time(class="form-control", type="time") }}
    </div>
    <div class="my-5">{{ form.submit(class="btn btn-primary") }}</div>
    
    
</form>
<h3>Meetings:</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Status</th>
        <th scope="col" style="float: right;">Action</th>
      </tr>
    </thead>
    <tbody>
        
        {% for meeting in meetings %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td><strong>{{ meeting.title }}</strong> </td>
            <td>{{ meeting.description }} </td>
            <td>{{ meeting.meeting_date.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{% if meeting in delayed_meetings %}
                <span class="text-danger">delayed...</span>
            {% else %}
            <span class="text-success">Starting Soon</span>
            {% endif %}</td>
            <td> <a href="/delete_meetings/{{meeting.id}}" type="button" class="btn btn-outline-danger" style="float: right;">Delete</button></td>
            
        </tr></tbody>   
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
